<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<div align="center">
	<a href="/register"><button>REGISTRATION</button></a><br>
	<a href="/seeregister"><button>SEE REGISTRATION</button></a>
	</div>
</body>
</html>